/* БАЗОВЫЕ НАСТРОЙКИ */

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite
}

nav {
    width: 100%;
    height: 100%;
    background-color: rgb(46, 32, 30);
}

ul {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
}

ul li {
    margin-right: 2vw;
    margin-left: 2vw;
    display: inline-block;
    font-family: Arial;
    color: rgb(189, 204, 206);
    font-size:  2vw;
    transition: 0.3s linear;
}

ul li:hover {
    color: rgb(255, 255, 255);

}


/* основная инфа */

.information_block{
    text-align: center;
}

.heading{
    margin-top: 5%;
    text-align: center;
    font-size: 2vw;
}

.foto_dumauet{
    margin-top: 10%;
    padding-left: 10%;
}


.quote{
    list-style-type: none;
    padding-top: 35%;
    font-size: 1.3vw;
    font-family: times new roman;
    padding-left: 10%;
}

.block1{
    column-count: 2;
    margin-right: 5%;
}

.quote2{
    list-style-type: none;
    padding-top: 25%;
    font-size: 1.3vw;
    font-family: times new roman;
    padding-left: 10%;
}


.block2{
    column-count: 2;
    padding-right: 5%;
    margin-top: 5%;
}


.foto_dumaet2{
    padding-left: 13%;
}



/* основная инфа 2 */
.Paragraph_part1{
    font-family: times new roman;
    /* text-align: justify; */
    padding-top: 3%;
    margin-left: 10%;
    padding-right: 10%;
    font-size: 1.3vw;

}

.Page_2_part_1{
    margin-top: 5%;
}

.foto_microchel{
    margin-top: 10%;
    padding-left: 10%;
    display:block;
    max-width:100%;
    height:auto;

}

.part_2{
    font-size: 1.3vw;
    font-family: times new roman;
    padding-left: 100px;
    text-align: justify;
    padding-right: 100px;
    margin-top: 6%;
    white-space: nowrap
}


.foto2{
    margin-top: 5%;
    padding-left: 11%;
}

.foto3{
    margin-top: 5%;
    margin-left: 23%;
}

.part_3{
    font-family: times new roman;
    font-size: 1.3vw;
    margin-top: 6%;
    text-align: justify;
    padding-right: 100px;
    padding-left: 100px;
}


.foto4{
    margin-top: 6%;
}

.part_4{
    font-family: times new roman;
    font-size: 1.3vw;
    margin-top: 6%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 8%;
}

.end{
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 5%;
}




/* основная инфа 3*/

.input{
    text-align: center;
    margin-top: 5%;
}


li, p{
    font-family: times new roman; 
}

.earlier{
    font-size: 25px;
    column-count: 2;
    height: 700px;
    padding-left: 25%;
    margin-top: 150px;
}

.dates{
    font-size: 25px;
    margin: 5% 100px 100px 100px;
    line-height: 40px
}


p {
    line-height: 40px;
    margin-top: 25px;
}



/* основная инфа 4*/

.role {
    text-align: center;
    margin-top: 5%;
}

.piter {
    font-size: 25px;
    margin: 5% 100px 100px 100px;
}

.one{
    margin-bottom: 100px;
}

.two{
    margin-bottom: 100px;
}

.three{
    margin-bottom: 100px;

}
