* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    /* background-image: url("/media/kot.jpg"); */
    background-color: antiquewhite
    /* background-size: 100%; */
}

.nav {
    width: 100vw;
    height: 5.21vw;
    background-color: rgb(46, 32, 30);
}

ul {
    width: 100vw;
    padding-top: 1.4vw;
}

ul li {
    margin-left: 4vw;
    display: inline-block;
    transition-property: all;
    transition: 0.3s;
    font-family: Arial;
    color: rgb(209, 223, 225);
    font-size: 1.88vw;
    letter-spacing: 0.05vw;
}

ul li:hover {
    border-bottom: solid 0.16vw rgb(209, 223, 225);
    padding-bottom: 0.21vw;
}



/* основная инфа */
.part_1{
    font-size: 1.30vw;
    font-family: times new roman;
    display: flex;
    margin-top: 5%;

}

.part_1 div{
    font-family: times new roman;
    padding-top: 8%;
    margin-left: 8%;
    padding-right: 8%;
    text-align: justify;

}


.part_1 img{
    margin-top: 1px;
    padding-left: 5%;
    width: 50vw;
    height: 40vw;
}

.part_2{
    font-size: 1.30vw;
    font-family: times new roman;
    padding-left: 5%;
    text-align: justify;
    padding-right: 8%;
    margin-top: 6%;
}


.foto_sleva{
    margin-top: 5%;
    padding-left: 11%;
    width: 30vw;
    height: 22vw;
}

.foto_sprava{
    margin-top: 5%;
    margin-left: 23%;
    width: 18vw;
    height: 25vw;
}

.part_3{
    font-family: times new roman;
    font-size: 1.30vw;
    margin-top: 6%;
    text-align: justify;
    padding-right: 8%;
    padding-left: 5%;
}


.foto4{
    margin-top: 6%;
    width: 50vw;
    height: 40vw;
}

.part_4{
    font-family: times new roman;
    font-size: 1.30vw;
    margin-top: 6%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 8%;
}

.end{
    display: flex;
    padding-right: 8%;
    padding-left: 5%;
    padding-bottom: 5%;
}
