* {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background-color: antiquewhite
}

.nav {
    width: 100vw;
    height: 5.21vw;
    background-color: rgb(46, 32, 30);
}

ul {
    width: 100vw;
    padding-top: 1.4vw;
}

ul li {
    margin-left: 4vw;
    display: inline-block;
    transition-property: all;
    transition: 0.3s;
    font-family: Arial;
    color: rgb(209, 223, 225);
    font-size: 1.88vw;
    letter-spacing: 0.05vw;
}

ul li:hover {
    border-bottom: solid 0.16vw rgb(209, 223, 225);
    padding-bottom: 0.21vw;
}

/* основная инфа */

.heading{
    margin-top: 5%;
    text-align: center;
    font-size: 2vw;
}

.block1 img{
    margin-top: 7.81vw;
    padding-left: 6.77vw;
    width: 35vw;
    height: 25vw;
}


.block1 li{
    list-style-type: none;
    padding-top: 18.23vw;
    font-size: 1.3vw;
    font-family: times new roman;
    padding-left: 3.13vw;
}

.block1{
    column-count: 2;
    margin-right: 2.60vw;
}

.quote2{
    list-style-type: none;
    padding-top: 7.81vw;
    font-size: 1.30vw;
    font-family: times new roman;
}


.block2{
    column-count: 2;
    margin-right: 2.60vw;
    margin-top: 6.77vw;
    margin-bottom: 5%;
}


.block2 img{
    margin-left: 8.5vw;
    width: 35vw;
    height: 25vw;
}

.block2 li{
    list-style-type: none;
    font-size: 1.3vw;
    padding-left: 6.77vw;
    margin-top: 12vw;
    font-family: times new roman;
}